unsed/LongFloat.c
unsed/LongFloat.h
token.txt
.vscode
deltaPlot.py
__pycache__/Config.cpython-38.pyc
__pycache__/plot.cpython-38.pyc
__pycache__/ResultsReader.cpython-38.pyc
.gitignore
source/Python/__pycache__
source/C/util/Utiltester.c
source/C/util/test
uiTest.py
results
