unsed/LongFloat.c
unsed/LongFloat.h
token.txt
.vscode
deltaPlot.py
__pycache__/Config.cpython-38.pyc
__pycache__/plot.cpython-38.pyc
__pycache__/ResultsReader.cpython-38.pyc
.gitignore
source/Python/__pycache__
source/C/util/Utiltester.c
source/C/util/test
uiTest.py
results
fig_22.07.26_21:03:02_N_1_2D.svg
fig_22.07.26_22:32:45_N_1_3D.svg
fig1 pape.zip
.vscode/targets.log
